<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/assets/polymer/global-css.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="/bower_components/juicy-html/juicy-html.html">
<link rel="import" href="/src/components/article-single.html">

<dom-module id="article-large-box">
  <template>
  	<style include="global-css">
  		article {
  			text-align: center;
  			margin-bottom: 120px;
  		}
  		h1.lg {
			@apply --paper-font-display2;
			margin-bottom: 15px;
		}
		header .sub {
			@apply --paper-font-caption;
			padding: 5px 7px;
			background: #dae2e6;
		}
		header .meta-icon {
			--iron-icon-height: 18px;
	        --iron-icon-width: 18px;
		}
		section {
			margin-top: 30px;
		}
  	</style>
    
    <template is="dom-repeat" items={{posts}} as="post" initial-count="3">
    	<article>
    		<header>
  		    <h1 class="lg">[[post.title.rendered]]</h1>
  		    <paper-button class="sub">
  		    	<iron-icon class="meta-icon" icon="icons:create"></iron-icon> 
  		    	BY: [[post._embedded.author.0.name]]
  		    </paper-button>
  		    <paper-button class="sub">
  		    	<iron-icon class="meta-icon" icon="icons:hourglass-empty"></iron-icon> 
  		    	<!-- WED, MAR 15, 2016 -->
  		    	{{_setDate(post.date)}}
  		    </paper-button>
  		    <paper-button class="sub">
  		    	<iron-icon class="meta-icon" icon="icons:visibility"></iron-icon> 
  		    	500 VIEWS
  		    </paper-button>
  		    <paper-button class="sub">
  		    	<iron-icon class="meta-icon" icon="icons:folder"></iron-icon> 
  		    	IN: 
  		    	<template 
              is="dom-repeat" 
              items=[[post._embedded.wp:term.1]]
              as="tag">
  		    		[[tag.name]],
  		    	</template>
  		    </paper-button>
  	    </header>
  	    <section>
  	    	<div class="lol">
  		    	<iron-image 
  		    		src="[[post._embedded.wp:featuredmedia.0.media_details.sizes.medium_large.source_url]]" 
  		    		preload 
  		    		fade>
  	    		</iron-image>
  	    	</div>
  	    	<div class="excerpt">
  	    		<template is="juicy-html" html="{{post.excerpt.rendered}}"></template>
  	    	</div>
  	    </section>
      </article>
    </template>
  	
    <!-- <article-single></article-single> -->

  	<iron-ajax
  	 	auto
  	 	url="http://adzbyte.com/wp-json/wp/v2/posts?_embed"
  	 	handle-as="json"
  	 	method="GET"
  	 	on-response="_handlePosts">
    </iron-ajax>
  </template>
</dom-module>

<script>
  class ArticleLargeBox extends Polymer.Element  {

    static get is() { return 'article-large-box'; }

    _handlePosts(e) {
    	this.set('posts', e.detail.response);
    }
    _setDate(date) {
    	var d = new Date(date);
    	return d.toDateString();
    }

  }

  window.customElements.define(ArticleLargeBox.is, ArticleLargeBox);
</script>