<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/assets/polymer/global-css.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="article-large-box">
  <template>
  	<style include="global-css">
  		article {
  			text-align: center;
  			margin-bottom: 120px;
  		}
  		h1.lg {
			@apply --paper-font-display2;
			margin-bottom: 15px;
		}
		header .sub {
			@apply --paper-font-caption;
			padding: 5px 7px;
			background: #dae2e6;
		}
		header .meta-icon {
			--iron-icon-height: 18px;
	        --iron-icon-width: 18px;
		}
		section {
			margin-top: 30px;
		}
  	</style>

  	<template is="dom-repeat" items={{posts}} as="post">
    	<article>
	  		<header>
			    <h1 class="lg">[[post.title.rendered]]</h1>
			    <paper-button class="sub">
			    	<iron-icon class="meta-icon" icon="icons:create"></iron-icon> 
			    	BY: RICK SANCHEZ
			    </paper-button>
			    <paper-button class="sub">
			    	<iron-icon class="meta-icon" icon="icons:hourglass-empty"></iron-icon> 
			    	WED, MAR 15, 2016
			    </paper-button>
			    <paper-button class="sub">
			    	<iron-icon class="meta-icon" icon="icons:visibility"></iron-icon> 
			    	500 VIEWS
			    </paper-button>
			    <paper-button class="sub">
			    	<iron-icon class="meta-icon" icon="icons:folder"></iron-icon> 
			    	IN: TESTING, LOVELY, CRYING
			    </paper-button>
		    </header>
		    <section>
		    	<div class="lol">
			    	<iron-image src="../../assets/imgs/img-placeholder.png" preload fade></iron-image>
		    	</div>
		    	<div class$="excerpt{{post.id}}">
		    		{{_encodeEntities(post.excerpt.rendered, post.id)}}
		    	</div>
		    </section>
	    </article>
    </template>
  	
	
	<iron-ajax
	 	auto
	 	url="http://adzbyte.com/wp-json/wp/v2/posts"
	 	handle-as="json"
	 	method="GET"
	 	on-response="_handlePosts"></iron-ajax>
  </template>
</dom-module>

<script>
  class ArticleLargeBox extends Polymer.Element  {

    static get is() { return 'article-large-box'; }

    static get properties() {
    	return {
    		posts: Object
    	}
    }

    _handlePosts(e) {
    	this.set('posts', e.detail.response);
    }

    _encodeEntities(value, id) {
    	return value;
    	console.log(this.shadowRoot.querySelector(".excerpt" + id.toString()));
    	// var div = this.shadowRoot.querySelector("#excerpt-" + id);
    	// console.log(div);
	    // div.innerHTML = value;
	    // console.log(div.innerHTML);
	    // return div.innerHTML;
	}

  }

  window.customElements.define(ArticleLargeBox.is, ArticleLargeBox);
</script>